@import "variables";   //if want to use variables in base, variables needs to come first
@import "base";
@import "utils";


@import "components/header";
@import "components/main";
@import "components/footer";
