footer {
    background: var(--tertiary);
    color: var(--quaternary);
    text-align: center;
  }

  .email {
      font-size: 1.3rem;
      margin-bottom: 8px;
  }

  .copy {
      font-size: .5rem;
  }