header {
  background: var(--tertiary);
  color: var(--quaternary);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__logo {
  margin: 32px 8px;
  

}

.header__nav {
  margin: 32px 8px;
}

.header__nav--item {
  color: var(--quinary);
  margin: 8px;
}
