.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about__text {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1;
    justify-content: left;
}

.about__links--icons {
    grid-row: 1;
}

.about__text--h2 {
    grid-row: 2;
}

.about__text--p {
    grid-row: 3;
}


.about__img {
    
}

.skills {
    text-align: center;
    margin-top: 32px;
}

.skills__list {
    margin: 16px 24px;
   }
    
   .skills__list--item {
    display: inline-block;
    border: thin solid;
    border-radius: 4px;
    border-color: var(--primary);
    background: var(--tertiary);
    color: var(--quinary);
    padding: 10px;
    margin: 5px;
   }