* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: var(--primary);
    height: 100vh;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}


